
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
  margin: 0;
  padding: 0;

  --red: #E00442;
  --blue: #1C31C8;

}

html, body {
  width: 100%;
  height: 100%;
  background: #fff;

}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
  padding: 12px; 
  box-sizing: border-box; 
}

a{
  text-decoration: none;
  color:#161212;
}