.primary_btn{
    background: #EB2556;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: var(--border-radius);
    cursor: pointer;

}
.outline_btn{
    background: #fff;
    color: #3f3c3c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
    border: 1px solid #3f3c3c;

}

.progress_container {
    grid-area: 2 / 1 / 12 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-right: 1px solid #eee;
    border-radius: var(--border-radius);
}

.order_container {
    grid-area: 2 / 11 / 12 / 13;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-right: 1px solid #eee;
    border-radius: var(--border-radius);
}

.order_item_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.order_item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progressBar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items:flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.progressItem{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #000;
}

.form_container {
    grid-area: 2 / 3 / 12 / 11;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    color: #000;
    border-radius: var(--border-radius);
}


.galleryTitle {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;

}

.step_content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.rules_text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 40px;
}

.input, .step_content select{
    outline: none;
    border: none;
    padding: 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    border: 1px solid #3f3c3c;

    
}

.input span{
    height: 100%;
    display: flex;
    flex-direction: row;
    color: #3f3c3c;
}

.input span > *{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2rem;
    height: 1.2rem;
}

.input input {
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 1rem;
}


.btn_group{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.step_content textarea{
    
        border-radius: var(--border-radius);
    border: 1px solid #3f3c3c;
    width: 50%;
    padding: 10px;
    height: 10%;
}
.upload_zone{
   
    border-radius: var(--border-radius);
    border: 1px solid #3f3c3c;
    padding: 10px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.progressActive {
  color: #1C31C8;
}