@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.main_grid {
    display: grid;
    width: calc(100% - 24px); 
    height: calc(100% - 24px); 
    gap: 24px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin: 12px; 
    box-sizing: border-box;
}

.grid_item {
    background: #161212;
    border-radius: 25px;
}

.card_fanart, .card_oc{
    border: 5px solid #161212;
}

.logo {
    grid-area: 1 / 1 / 2 / 3; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo img{
    height: 36px;
    width: 36px;
}

.header {
    grid-area: 1 / 3 / 2 / 10; 
    background: #EB2556;
    color: #fff;
    display:  flex;
    justify-content: center;
    align-items: center;
}

.header h1{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header h1 span{
    margin-right: 5px;
    margin-left: 5px;
    font-size: 30px;
}

.card_fanart {
    grid-area: 1 / 10 / 12 / 13;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    animation: positionFanart 3s ease-in-out ;

}

@keyframes positionFanart {
    0% {
        background-position: 100%;

    }
    100% {
        background-position: 0;


    }
}

.card_fanart img{
    height: 85%;
    width: auto;
}

.card_oc {
    grid-area: 2 / 1 / 13 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: #1C31C8;
    background-size: 120%;
    background-position: -35px -250px;
    background-repeat: space;
    animation: positionOC 3s ease-in-out ;

}

@keyframes positionOC {
    0% {
        background-position: -35px -350px;


    }
    100% {
        background-position: -35px -250px;

    }
}

.card_oc img{
    margin-left: 15px;
    margin-bottom: 10px;
    width: 120px;
}

.illustration {
    grid-area: 2 / 3 / 12 / 10;
    background: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.main_animated{
    position: absolute;
    width: auto; 
    height: 100%; 
    width: 100%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_animated img{
    height: 100%;
    margin: 0 -18px 0 -18px;
    animation: moveToPosition 3s backwards;
    transition-timing-function: cubic-bezier(.3,.08,0,.94);
}   

.main_animated img:first-of-type {
    margin-right: -6%;
    animation: moveToPostionFirst 3s ease-in-out ;

}

.main_animated img:last-of-type{
    margin-left: -6%;
    animation: moveToPositionLast 3s ease-in-out ;

}


@keyframes moveToPosition {
    0% {
        margin-left: -10%;
    }
    100% {
        margin: 0 -18px 0 -18px;

    }
}

@keyframes moveToPositionFisrt {
    0% {
        margin: 0 -18px 0 -18px;
    }
    100% {
        margin-right: -6%;
    }
}

@keyframes moveToPositionLast {
    0% {
        margin: 0 -18px 0 -18px;
    }
    100% {
        margin-left: -6%;
    }
}

.main_illust{
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_illust img {
    width: auto;
    height: 100%;
    object-fit: cover; 
    animation: scaleIllust 3s ease-in-out;

}

@keyframes scaleIllust {
    0% {
        transform: scale(1.3);

    }
    100% {
        transform: scale(1);

    }
}

.card_socials {
    grid-area: 12 / 3 / 13 / 6; 
    background: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 14%;
    animation: positionSocials 3s ease-in-out ;

}

@keyframes positionSocials {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: 14%;


    }
}

.card_socials img{
    height: 26px;
}

.card_email {
    grid-area: 12 / 6 / 13 / 13; 
    background: none;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    
}

.card_email img{
    width: 22px;
    margin-right: 10px;
    margin-top: 5px;
}

.card_email p{
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    margin-right: 5px;
    letter-spacing: 2px;
}
.logo{
    border-radius: 10px;

}
.card_socials{
    border-radius: 15px;

}
