
.statusCode{
    grid-area: 2 / 1 / 12 / 13;
  width: 100%;
  height: 100%;
  display: flex;justify-content: center;
  align-items: center;
  flex-direction: column;
}
.statusInfo{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #201f1f;
    flex-direction: column;
    gap: 5px;
}
.statusInfo h2{
font-size: 3rem;
}

.statusInfo p{
    font-size: 1.5rem;
}
.statusCode img{
  width: 70%;
  height: 70%;
  object-fit: contain;
}