
.statusCode{
    grid-area: 2 / 1 / 12 / 13;
  width: 100%;
  height: 100%;
  display: flex;justify-content: center;
  align-items: center;
  flex-direction: column;
}
.statusInfo{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #201f1f;
    flex-direction: column;
    gap: 5px;
}
.statusInfo h2{
font-size: 3rem;
}

.statusInfo p{
    font-size: 1.5rem;
}
.statusCode img{
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.gallery_label{
  background: var(--red);
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; 
  pointer-events: none;
  transition: opacity 300ms ease-in-out
}

.gallery_label {
animation: typing 0.20s steps(15, end) forwards, blink-caret .10s step-end infinite;}

@keyframes typing { from { width: 0 } to { width: 100% } }
